body {
	background-color: #fcfba9;
	font-family: 'Oswald', sans-serif;
	font-size: 16pt;

}

h1 {
	color: #bb43a3;
	font-family: 'Permanent Marker', cursive;
	margin-bottom: 5%;
}

#start, #next {

	background-color: #f44546;
	border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	font-family: 'Permanent Marker', cursive;
}

#guess {

	background-color: #02dba5;
	border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	font-family: 'Permanent Marker', cursive;
}